<header>
  <input type="checkbox" name="" id="toggler">
  <label for="toggler" class="fas fa-bars"></label>

  <a href="#" class="logo">Adventure <span>Artifacts</span></a>

  <nav class="navbar">
      <a href="#home">Home</a>
      <a href="#products">Destinations</a>
      <a href="/flight">Transport</a>
      <a href="/hotels">Hotels</a>
      <a href="/blog">Blog</a>
      <a href="#contact">Contact Us</a>
  </nav>

  <div class="icons">
      <a href="/UserReview" class="fas fa-comment"> User Review </a>
      <a href="/Trips" class="fas fa-shopping-cart"> Trips </a>
      <a href="/Alerts" class="fas fa-bell"> Alerts </a>
      <a href="/Login" class="fas fa-sign-in-alt"> Sign In </a>
      <a href="/Basket" class="fas fa-shopping-basket"> Basket </a>
  </div>
</header>
