<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
  <section class="w50">
    <div class="formData">
      <p > <%= message %></p>
    </div>
</section>
</body>
<%- include('layouts/footer'); -%>